  /*@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);*/
        
        * {
            box-sizing: border-box;
        }
        
        body {
            background: #57A519;
            background: #1b7a36;
            background: white;
            background:rgb(244, 246, 247);
            color: #2f2f2f;
            font-family: "Open Sans", arial;
            font-size: 20px;
            font-weight: 400;
            text-rendering: optimizeLegibility;
        }
        
        header {
            margin-top: 3em;
            text-align: center;
        }
        
        #programa{
            margin-left: 3em;
            margin-right: 3em;
            margin-bottom: 7em;
            margin-top: 3em;
        }
        
        #titulo-principal{
            font-size: 2em;
            text-align: center;
            text-shadow: 0 1px 0 #rgb(244, 246, 247);
            text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        }
        
        .calendario {
            width: 100%;
            height: 320px;
            border-collapse: collapse;
            /*border: 1px solid #38678f;*/
            background: #fdfdfd;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
        }
        
        .calendario-fecha, .charla-fecha {
            width: 180px;
            padding: 0.7em;
            text-align: center;
        }
        
        .calendario-fecha, 
        .calendario-lugar,
        .resumen-titulo {
            background: #57A519;
            background: #1b7a36;
            font-weight: bold;
            text-shadow: 0 1px 0 #38678f;
            color: white;
            /*
            box-shadow: inset 0px 1px 2px #5a962a; 
            box-shadow: inset 0px 1px 2px #549123;
            */            
            /*
            border-bottom: 1px solid #5a962a;
            */
            box-shadow:1px 1px 3px rgba(0,0,0,0.5);
        }

        .charla-fecha{
            /*box-shadow:1px 1px 3px rgba(0,0,0,0.5);*/
            font-weight: 550;
            border-right: 1px solid rgba(0,0,0,0.2);
        }

        .charla-info{
            padding-top:1em;
            padding-bottom:1em;
        }

        .calendario-fecha{
            border-right: 1px solid #5a962a;
        }

        .calendario-fecha, .calendario-lugar{
            border-top: 1px solid #458414;
        }

        
        .charla-titulo,
        .charla-ponente,
        .charla-afiliacion {
            display: block;
            text-align: center;
        }
        
        .charla-titulo {
            font-weight: bold;
            font-size: 1em;
        }

        .calendario tbody tr:nth-child(even) {
            background-color: #CDCDCD;
            box-shadow:1px 1px 3px rgba(0,0,0,0.5);
        }
        
        .resumen-regresar a,
        .resumen-regresar a:visited,
        .charla-titulo a,
        .charla-titulo a:visited {
            color: #34630f;
        }
        
        .resumen {
            background: #fdfdfd;
            box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
            color: #2f2f2f;
            font-weight: normal;
            margin-top: 1em;
        }
        
        .resumen-titulo {
            padding-left: 0.5em;
            padding-right: 0.5em;
            padding-top: 1em;
            padding-bottom: 1em;
        }
        
        .resumen-info {
            font-size: 1em;
            padding: 2em 3em;
        }
        
        .resumen-ponente {
            font-size: 1.2em;
            margin-top: 1em;
        }
        
        .resumen-afiliacion {
            font-size: 1.2em;
            margin-top: 1em;
        }
        
        .resumen-ponente span,
        .resumen-afiliacion span {
            font-weight: bold;
        }
        
        .resumen-descripcion {
            margin-top: 3em;
            line-height: 1.5em;
        }
        
        .resumen-regresar {
            text-align: center;
            margin-top: 2em;
        }
        
        .show {
            opacity: 1;
            transition: opacity 1000ms;
        }
        
        .hide {
            display: none;
            opacity: 0;
            transition: opacity 1000ms;
        }
        
        .hidden {
            display: none;
        }