body {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

ul {
    padding: 0px;
    margin: 0px;
}

#menu {
    background: #1D9732;
    background: #1b7a36;            
    height: 100%;
    position: fixed;    
    text-align: center;
    width: 270px;
}

#contenedor-principal {
    margin-left: 270px;
    width: calc(100vw - 270px)
}
/* --- menu ---*/

.seleccionado a {
    color: #EBB176 !important;
}

#menu ul {
    font-weight: 500;
    font-size: 25px;
    list-style: none;
    letter-spacing: 1px;
    text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 270px;
}

#menu li {
    margin-bottom: 1em;
}

#menu li a {
    display: inline-block;
}

#menu li a,
#menu li a:visited {
    color:#f2eebe;
    color:#f5f5f5;
    transition: all .3s ease-in-out;
}

#menu li a:hover {
    color: #EBB176;
    transform: scale(1.2);
}

#logo-seminario img {
    position: relative;
    top: 4em;
    width: 200px;
}

#redes img {
    width: 50px;
}
/* secciones */

#inicio {
    background-image: url("../img/fondo1.jpg");
    background-size: cover;
    background-position: center center;
    color: #f5f5f5;
    font-size: 30px;
    height: 100vh;
    width: 100%;
}

#inicio-mensaje {
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    letter-spacing: 1.2px;    
    width: 100%;
    height: 100%;
    text-shadow:2px 2px 3px black;
}

#inicio-mensaje h1 {
    margin: 0px;
    padding-left:1em;
    padding-right:1em; 
    text-align: center;
}


/* --------------- calendario -----------*/

#calendario {
    background: background: rgb(244, 246, 247);
    color: #2f2f2f;
    min-height: 100vh;
    /*font-family: "Open Sans", arial;*/
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
}

#calendario h1 {
    text-shadow: 1px 2px 3px #2a2a2a;
    text-align: center;
}

#titulo-principal {
    text-align: center;
    text-shadow: 0 1px 0 #rgb(244, 246, 247);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}    

.calendario {
    width: 100%;
    height: 320px;
    border-collapse: collapse;
    /*border: 1px solid #38678f;*/
    background: #fdfdfd;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.calendario-donde{
    text-align: center;
}

.calendario-resaltar{    
    color: #1D9732;
    color: #1b7a36; 
}

.calendario-fecha {
    border-right: 1px solid #5a962a;
}

.calendario-fecha,
.calendario-lugar {
    border-top: 1px solid #458414;
    font-size: 1.5em;
}

.calendario tbody tr:nth-child(even) {
    background-color: #CDCDCD;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.calendario-fecha,
.charla-fecha {
    padding: 0.7em;
    text-align: center;
}

.calendario-fecha,
.calendario-lugar,
.resumen-titulo {
    background: #57A519;
    background: #1b7a36;
    font-weight: bold;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.charla-fecha {
    /*box-shadow:1px 1px 3px rgba(0,0,0,0.5);*/
    font-weight: 550;
    font-size: 1.1em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.charla-info {
    padding:1em;
}

.charla-titulo,
.charla-ponente,
.charla-afiliacion {
    display: block;
    text-align: center;
}

.charla-titulo {
    font-weight: bold;
    font-size: 1.3em;
}

.charla-ponente {
    font-size: 1.2em;
    margin-top: 0.5em;
}

.resumen-regresar a,
.resumen-regresar a:visited,
.charla-titulo a,
.charla-titulo a:visited {    
    color: #34630f;
    display:inline-block;
    transition: all .3s ease-in-out;
}

.charla-titulo a:hover,
.resumen-regresar a:hover{
    transform: scale(1.1);
}

.resumen {
    background: #fdfdfd;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
    color: #2f2f2f;
    font-weight: normal;
    margin-top: 1em;
}

.resumen-titulo {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.resumen-info {
    font-size: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 3em;
}

.resumen-ponente,
.resumen-afiliacion,
.resumen-emails,
.resumen-descripcion-titulo {
    font-size: 1.2em;
    margin-top: 1em;
}

.resumen-ponente span,
.resumen-afiliacion span,
.resumen-emails span,
.resumen-descripcion-titulo {
    font-weight: bold;
}

.resumen-descripcion {
    margin-top: 1em;
    line-height: 1.5em;
}

/*--------- resumen:bibliografia ---------*/

.bibitem-titulo{
    font-style: italic;
    font-weight: 600;
}

.bibitem-codigo{    
}

.bibitem-autores{}
.bibitem-journal{}

.resumen-regresar {
    font-size: 1.3em;
    text-align: center;
    margin-top: 2em;   
}

.mostrar {
    opacity: 1;
    transition: opacity 1000ms;
}

.esconder {
    display: none;
    opacity: 0;
    transition: opacity 1000ms;
}

.oculto {
    display: none !important;
}
/*------------- organizadores -----------*/

#organizadores {
    align-items: center;
    display: flex;
    justify-content: center;
    background: #801909;
    background: #4C8392;
    background: #0040C1;
    background: #FFA700;
    background: #012A35;
    background: #4D004D;
    background: #03234E;
    background: #3A67A5;    
    color: #f5f5f5;
    font-size: 30px;
    min-height: 100vh;
    position: relative;
    text-shadow:2px 2px 3px black;
}

.organizador-nombre, .organizador-pagweb{
    display:block;
}

.organizador-pagweb a{
    display:inline-block;
}

.organizador-pagweb{ 
    margin-left: 1em;           
    font-size: 0.8em;
}

.organizador-pagweb a, .organizador-pagweb a:visited{            
    margin-left: 0.5em;
    color:#DDDCDC;
    transition: all .3s ease-in-out;
}

.organizador-pagweb a:hover{
    color:white;            
    transform: scale(1.1);
}

/*--------- contacto ----------------*/

#contacto {
    align-items: center;
    display: flex;
    justify-content: center;
    background: #474747 url(../img/img.png);
    font-size: 30px;
    min-height: 100vh;
    position: relative;
    color: #222;
    text-shadow: 0px 2px 3px #555;
    padding-left:1.5em;
    padding-right: 1.5em;
    padding-top: 3em;
    padding-bottom: 4em;
}

#contacto h1 {
    text-align: center;
}

#contacto h1,
#contacto h3 {
    letter-spacing: 2px;
    color: #999;
    text-shadow: 0px 3px 8px #2a2a2a;
}

#contacto ul {
    margin-left: 1em;
}

#contacto li {
    margin-bottom: 0.5em;
}

#contacto a{
    color:#DDDCDC;
    display:inline-block;
    transition: all .3s ease-in-out;
}

#contacto a:hover{
    color:white;            
    transform: scale(1.1);
}

/*---  EFECTOS ----*/

#caja-loading{
    align-items: center;
    display: flex;
    justify-content: center;
    background:#f5f5f5; 
    position:fixed;
    height:100vh;
    text-align: center;
    width:100vw;  
    z-index: 1000;  
}

.circulo-anim {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: circulos 25s linear infinite;
    bottom: -150px;
}

.circulo-anim:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circulo-anim:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circulo-anim:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circulo-anim:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circulo-anim:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circulo-anim:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circulo-anim:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circulo-anim:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circulo-anim:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circulo-anim:nth-child(10) {
    left: 85%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes circulos {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


/* ------- MEDIA QUERIES --------------*/

/*- remover espacios laterales en menu */
@media only screen and (max-width: 1300px) {
 
    #menu{
      width: 210px;   
    }

    #contenedor-principal{
        margin-left: 210px;
        width: calc(100vw - 210px)
    }

    #menu ul {
        width:210px;
    }

    #logo-seminario img{
        width:140px;
    }
}

/*- mostrar menu en barra horizontal */
@media only screen and (max-width: 1100px) {

    #menu{        
        width:100%;
        z-index: 100;
    }

    #menu, #menu nav, #logo-seminario{
        height:80px;    
    }

    #menu, #menu nav, #logo-seminario, #menu ul, #menu li, #menu a{
        line-height: 80px;
        margin-bottom: 0px;
    }    

    #contenedor-principal{
        margin-left: 0px;
        width: 100%;
    }

    #menu ul {
        width:auto;
    }

    #menu li{
        display:inline-block;
        margin-right: 1em;
    }

    #logo-seminario{
        display: inline-block;
        margin-right: 1em;
    }

    #logo-seminario img, #menu ul{
        display:inline-block;
        position:static;        
        top: 0;
        transform: translateY(0);        
    }

    #logo-seminario img{
        position:relative;
        height:50px;
        top:15px; /*TODO: sustituir con calc*/
        width:auto;
    }

    #redes img{
        height: 40px;
        width:auto;
        position:relative;
        top:12px; /*TODO: sustituir con calc*/
    }

}

/* 
   si el ancho es lo suficente como para que no se muestre el menu horizontal
   pero el alto es muy pequeño, acomodar logo del seminario
*/
@media only screen and (max-height: 650px) and (min-width: 1100px) {
    #logo-seminario img{
        top:10px;
    }
}


/* 
   si el ancho es lo suficente como para que no se muestre el menu horizontal
   pero el alto es EXREMADAMENTE PEQUEÑO, desaparece logo del seminario
*/
@media only screen and (max-height: 480px) and (min-width: 1100px) {
    #logo-seminario{
        display:none;
    }
}

@media only screen and (max-width: 900px) {

}